<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style/output.css">
</head>

<body class="bg-blue-300">
    <div class="flex justify-center">
    <div class="m-auto inline-block text-center">
        <h2 class="font-bold text-5xl m-5 flex items-center mt-16">
            <img src="image/icon/icons-books.png"  class="mx-3">
            Selamat datang di BookDB
            <img src="image/icon/icons-books.png" alt="" class="mx-3">
        </h2>
        <ul class="flex items-center justify-around">
            <li><a href="/buku">Buku terlaris</a></li>
            <li><a href="">Data Penulis</a></li>
            <li><a href="">Kategori</a></li>
        </ul>
        <input type="text" class="text-xl rounded-lg w-full my-7 p-1" placeholder="Cari Judul, Penulis...">
    </div>
    </div>
</body>

</html>